[2012-06-20 21:54] hlapp opened #1 "Check initial text version for correctness"
I have not changed any text, but someone else should verify that. Also, someone else should verify that none of the formatting has gotten messed up in the transition to markdown/html. (Technically, it is changed in a few locations, such as (1) -> 1., but I did not notice any mess-ups, i.e., formatting changes that could be understood as changing the meaning or syntax of the text.) Commit of .md an

[2012-06-20 22:06] hlapp opened #2 "Identify necessary changes for 1st round of revisions"
Possibly start with inline comments using the initial revision (currently 58852bfe7753ff5a1f165446726d69669316fbde), then as appropriate bin into tasks (creating a code comment apparently can't be done such that an issue is automatically created for it).

[2012-08-19 18:29] hlapp opened #3 "Remove cruft from bylaws"
These are annotated in commit 58852bfe7753ff5a1f165446726d69669316fbde at the following lines:
- Line 12 (possibility of waiving has long expired)
- Lines 26-28 (place of meeting)
- Line 47 (unsuitable reference to BOSC, confusing statement)
- Line 50 (has long expired)
- Line 88 (unsuitable reference to BOSC)
- Line 100 (has long expired)
- Line 104 (unsuitable reference to BOSC)
- Line 105 (unne

[2012-08-19 18:30] hlapp opened #4 "Cosmetic and typographic fixes to bylaws"
These are annotated in commit 58852bfe7753ff5a1f165446726d69669316fbde at the following lines:
- Line 1 (spell out OBF fully, make two lines)
- Line 20 (is unclear as to whether electronic letters count, too)
- Line 36 (remove redundant definitions)
- Line 51 (simplification)
- Line 53 (expressly state that electronic letters count, too)
- Line 65 (simplification)
- Line 79 (remove redundant defin

[2012-08-19 18:30] hlapp opened #5 "Revisions due to loss of our own incorporated status"
These are annotated in commit 58852bfe7753ff5a1f165446726d69669316fbde at the following lines:
- Line 18 (uses the word "corporation")
- Line 33-34 (reference articles of incorporation)
- Line 44 (invokes to articles of incorporation)
- Line 55 (invokes to articles of incorporation)
- Lines 59 and 70 (no more signing checks on our own, adjust to SPI liaison powers)
- Line 71 (reference to somethin

[2012-08-19 18:32] #1 closed, assigned to nobody

[2012-08-26 20:02] #2 closed, assigned to nobody

[2012-08-26 22:33] hlapp opened #6 "Include mechanism to purge membership rolls of inactive members"
We should have some clause, and ideally fully automated mechanism, that assures that our membership rolls are with some regularity purged of inactive members.

This arose during review of the Aug/Sep 2012 bylaws change set. It's not really clear yet how to achieve the goal. Also, this may need more feedback from the membership, and so this may need to be reserved for a future change set.

[2012-08-26 22:36] hlapp opened #7 "Change file name so there is no space in the name"
As per Peter C.'s comment on commit 58852bfe7753ff5a1f165446726d69669316fbde: "[Do] you have any objection to renaming this to avoid the space (e.g. use an underscore or hyphen), which makes for a nasty URL, and requires quoting filenames if doing the rendering locally."

[2012-09-11 16:54] #5 closed, assigned to hlapp

[2012-09-11 16:54] #4 closed, assigned to hlapp

[2012-09-11 16:55] #3 closed, assigned to hlapp

[2013-04-20 20:01] hlapp opened #10 "Change donation description so as not to exceed 800 chars limit"

[2013-05-02 13:00] #10 closed, assigned to nobody

[2013-07-01 18:40] chapmanb opened #14 "Reduce process for candidate openbio projects"
Hilmar, Pjotr and all;
An issue for discussion at BOSC. To help reduce the number of steps to become an affiliated project, I'd suggest removing the `Candidate OBF project` status and having a two tiered hierarchy of `Core` and `Affiliated`:

https://github.com/OBF/obf-docs/blob/unratified-drafts/Affiliated-Project-Policy.md#candidate-obf-project

As written, the process is rather lengthy and proj

[2013-07-19 13:48] hlapp opened #16 "It is unclear whether certain projects have an initial status"
Initial status?  It is unclear whether certain projects have an initial status (such as BioPerl as a Core OBF Project) or whether all projects start with no status and achieve a status only by voting.  If there is an initial status, I assume it would be based on an existing relationship with OBF.   I would not object to such a system (particularly since the status can be change by later votes), bu

[2013-07-19 13:52] hlapp opened #17 "Wording in sentence "Among the projects...Biopython." is confusing"
Editorial issue:  At the end of the "Core OBF Project" section, there is a sentence "Among the projects...Biopython.".   This wording could be confusing.  I see three options:
1. BioPerl and Biopython are intended to have initial status as Core OBF Projects, in which case the wording would be better as "Among the projects with status of Core OBF Projects, representative...".
2. The current wording

[2013-07-19 13:55] hlapp opened #18 "Really more than one group overseeing community vote?"
Procedural questions related to voting: At the beginning of "Ballot preparation" the first sentence begins "A group of OBF members overseeing the annual OBF community vote...".   Is there really more than one such group?  If not, start the sentence with "The group of ...".

Reported by @longb.

[2013-07-19 13:56] hlapp opened #19 "Make explicit the frequency of voting"
Procedural questions related to voting: Is it the case that voting on project status occurs only once/year?  If so, perhaps at BOSC, with a concurrent email ballot?   If that is the case, it would be helpful explicitly say so.  (I actually think once/year at BOSC is a good idea, so I'm not objecting here, just suggesting a specific statement.)

Reported by @longb.

[2013-07-19 13:58] hlapp opened #20 "What are the requirements for initiating a ballot and ballot entry?"
Procedural questions related to voting: If any subset of OBF members can initiate a ballot, what are the requirements for the constitution of such a group?  Can someone wanting to promote a particular project ask to join?  (Disclaimer - I do not personally have plans to promote any particular project.)  If the committee is fixed (appointed by OBF officers, for example), is there a mechanism for a

[2013-07-19 13:59] hlapp opened #21 "Length of time to submit a vote on an email ballot is not clear"
Procedural questions related to voting: The length of time to submit a vote on an email ballot was not clear.   I would recommend 30 days, particularly in the summer.   I assume voting by "raising hands" would occur only at BOSC, or at some other officially convened meeting. It would be helpful to state the limits on when such  non-email voting occurs.

Reported by @longb.

[2013-07-19 14:01] hlapp opened #22 "What does "a majority of 70% is required" mean?"
Procedural question related to voting: What does "a majority of 70% is required" mean?  Is it of the total membership (hard to achieve, and hard to determine since non-OBF members can vote), or just of the ballots actually cast?   If the later, is there a minimum number of votes needed? (One could imaging a pathological case of only 4 votes, with 3 promoting a position most people would oppose had

[2014-02-28 21:26] agarwal opened #23 "state what membership means"
I'm unclear on the difference between Core and Affiliated projects. Core projects are defined as being more active, but what practical consequence does this distinction have?

It might help to describe what being an OBF member means in terms of:
- what you get and
- what you are expected to give.

So far I can tell that what you get is: server resources and publicity. And what you are expected to

[2015-10-13 17:16] peterjc commented on #23
I presume this is regard to  #14?

[2016-05-11 11:19] peterjc opened #27 "Allow non-board reviewers for the OBF Travel Fellowship"
Re: https://github.com/OBF/obf-docs/blob/master/Travel_fellowships.md

As discussed yesterday, we would like to expand this for the second and future calls to allow for additional external reviewers (e.g. drawing on the BOSC community or otherwise). For transparency, should we commit to listing the reviewers as part of announcing the results of each call?

[2016-09-22 11:12] mr-c commented on #23
I agree that the policy should be explicit about the benefits and responsibilities.

Specifically, does this include fiscal sponsorship and asset ownership? I think it does, and that is what the CWL community is seeking.

Examples of services offered by similar organizations:

NumFocus: (just fiscal sponsorship, or full project ownership: donations via check, PayPal, Dwolla and Bitcoin; employment

[2016-09-22 14:32] peterjc commented on #23
The OBF is itself currently an SPI affiliated project, and they hold our main financial assets. Additionally we have a escrow account with the ISCB for running the annual BOSC meeting. As far as I know (and I am a board member), the OBF does not currently have any project-specific earmarked funds (e.g. X dollars earmarked for BioJava).

The OBF manages the domain names of most (if not all) of the

[2016-09-22 14:43] mr-c commented on #23
@peterjc Thanks for the information. Would OBF be willing to pass through some of the services it is eligible for from SPI?

[2016-09-22 14:59] peterjc commented on #23
I believe the OBF member projects can benefit from access to the SPI services via the OBF, but in practise other than domain names, I can only think of one practical example of OBF projects using the SPI services:

Biopython asked the SPI (via the OBF board) for legal advice about changing the Biopython license, where the SPI put us in touch with the Software Freedom Law Center https://www.softwar

[2016-09-22 15:15] mr-c commented on #23
@peterjc So member projects aren't collecting funds and spending them to support their work? That is a major need for the CWL project.

[2016-09-22 15:29] peterjc commented on #23
@mr-c Yes, to my knowledge thus far none of the OBF projects have individually collected funds and spent them to support their work. This has only been at a group level (e.g. The money raised from GSoC going to the general coffers, being spent on domain names and server costs etc).

It sounds like right now if CWL fund raising to support ongoing work is going to be a major activity, you would be b

[2016-09-22 15:41] mr-c commented on #23
Thank you @peterjc, it is good to have this clarified. Yes, we have contacted SPI and others. From what I've been told forming a non profit with less than 2 000 000 USD / year in revenue is inefficient so until we have that "opportunity" we are looking for a fiscal sponsor.

[2016-09-22 16:06] hlapp commented on #23
So just to be clear, OBF is not currently a fiscal sponsorship organization. We have discussed in the past the possibility of becoming our own 501(c)3 to act as one, but so far we have deliberately chosen not to. We very well recognize that there is a need for a fiscal sponsorship organization in the bioinformatics space. However, at this point it's not clear what particular needs in this regard a

[2016-10-05 14:33] hlapp opened #36 "Include date and/or version in Bylaws"
It would be useful, I think, to be able to identify documents floating around somewhere as to which version of the Bylaws they represent. Right now, the only way to identify that is by comparison of the text.

Or perhaps we can start with publishing MD5 checksums?

[2016-10-05 14:46] peterjc commented on #36
Version numbers make sense, plus a changes section (at the end of the file?) which ideally we'd back date for the recent revisions (joining SPI and the minor changes at the October 2016 board meeting).

Were you suggesting MD5 (and/or SHA256) checksum of the MarkDown files? That ought to be stable while the HTML/PDF/etc would not be.

[2016-10-05 15:09] hlapp commented on #36
What I had in mind was for each of them. Why would HTML and PDF be less stable than the MD (for the purposes of verifying whether one has the exact same file as is posted in the repo)?

[2016-10-05 15:11] peterjc commented on #36
Because rebuilding the document is likely to give different output (e.g. version of pandoc changed), but if you mean recording the checksum as committed that could work.

I think versioning is more important than checksums and should be prioritised.

[2016-12-20 02:50] kcranston commented on #23
Going back to the original question, I agree that the proposal needs to be much clearer on the difference between the various types of projects. As it stands, the only difference between *Core* and *Affiliated* is the user base: "established sizable bioinformatics " vs "limited or small". This is both hard to quantify, but also says nothing about what the project gives to OBF or receives from OBF.

[2016-12-20 02:55] kcranston commented on #16
I think it is fine to introduce changes to the policy while being explicit that this does not affect existing relationships. I also note that the policy says nothing about how projects lose OBF status, or whether there should be a periodic revisiting of project status. What happens if a project no longer has a significant user / developer community, or no longer participates in OBF activities? Doe

[2016-12-20 03:50] peterjc commented on #16
Projects like BioCorba, BioDAS, and more recently BioLib have faded away, and could probably be described as of historic interest, which is not to say they are not OBF affiliated anymore but rather their status is moot.

i.e. The active projects list can shrink.

[2016-12-20 13:38] kcranston commented on #19
Up to a year seems like a long time to wait for a project that is seeking new status / change of status.

[2016-12-20 13:40] kcranston commented on #20
I have a question about the entire [ballot preparation](https://github.com/OBF/obf-docs/blob/unratified-drafts/Affiliated-Project-Policy.md#ballot-preparation) section. This seems to put all of the work on some to-be-identified group of OBF members, rather than the projects seeking membership. If I were leading a project seeking membership, this document would give me little guidance about how to

[2016-12-20 13:48] kcranston commented on #22
Agreed that "a majority of 70%" is unclear. 70% is also really high. Is there a justification for that number? What sort of turnout do we generally get for other votes? Is extremely low turnout and therefore biased results a realistic outcome? I assume that the board members also vote.

Saying "x% of the cast ballots must approve the membership request" seems reasonable (where x=70 or some other n

[2016-12-20 13:55] kcranston opened #38 "Limiting the number of OBF projects"
In the [Motivation Section](https://github.com/OBF/obf-docs/blob/unratified-drafts/Affiliated-Project-Policy.md#motivation) of the Affiliated Project Proposal, we say that "the group of projects with some status of affiliation with the OBF is expected to always be limited in number" but give no mechanisms for limiting projects. One of more of the following would be possible:

* a mechanism for pro

[2016-12-22 04:50] peterjc commented on #19
On the other hand, some very relevant projects like BioLib started up but was not able to be sustained.

[2017-08-27 23:52] hlapp opened #40 "Clarify awardee logistics guidance and/or expectations"

[2017-09-05 12:23] kcranston commented on #40
Can you add a little more detail about what you mean here?

[2017-12-19 22:30] cjfields opened #42 "OBF Mailing Lists"
(@hlapp : this is per the OBF Board Meeting; is there any other more general repo this can go to?)

As @peterjc has noted on the [main OBF blog](https://news.open-bio.org/2017/12/15/mailing-list-consolidation/), the OBF hosted mail lists (including the various EMBOSS list and other general member lists) have had serious issues over the last several months due to heavy spam traffic on the OBF mailm

[2017-12-19 22:50] nlharris commented on #42
I don't see a way to add line-by-line comments, so I'll just mention that I would change the word "closed" in "lists will be closed and archived" to "shut down" (because "closed" could be interpreted to mean "not open to the public).

Other than that, it looks good.

[2017-12-19 22:51] cjfields commented on #42
Thanks @nlharris !

[2018-01-17 11:34] peterjc commented on #42
Merging EMBOSS & -dev mailing list;	retiring -announce, -bug, -submit lists?
http://mailman.open-bio.org/pipermail/emboss/2018-January/009038.html
http://mailman.open-bio.org/pipermail/emboss-dev/2018-January/001500.html

[2018-01-18 11:45] peterjc commented on #42
Merging ``biojava-dev`` into ``biojava-l`` is done, see biojava/biojava#717

[2018-01-22 14:47] peterjc commented on #42
Merging ``emboss-dev`` into ``emboss`` is done, see http://mailman.open-bio.org/pipermail/emboss-dev/2018-January/001503.html

[2018-06-28 05:49] yochannah opened #43 "Update OBF logo"
The [OBF logo](https://github.com/OBF/obf-docs/tree/master/logos ) is a little outdated and we'd like to replace it with something a bit more modern and exciting.

Current logo:
![image](https://user-images.githubusercontent.com/9271438/42015217-43346d2e-7a5b-11e8-8806-f9d493b2fe0b.png)

## Interested in helping out?
Anyone is welcome to give this a go, if you have some ideas! Maybe you'd like to

[2018-06-28 16:48] cjfields commented on #43
Do we have the contact information from the BoF meeting last night for the artist who had those quick sketches?  I thought they were pretty great!

[2018-06-28 16:57] yochannah commented on #43
A couple of people at the BoF were interested in there -we'd love to hear from you both! @mccalluc was one of them.

[2018-06-28 17:31] yochannah commented on #43
@sjthursby was interested too

[2018-06-28 21:47] mccalluc commented on #43
I've put some rough ideas [on google docs](https://docs.google.com/drawings/d/1wabCfHElQuRYC08YDOzV8B2xnuqPrObZVAHDFG1-8zY/edit?usp=sharing): pick one, or suggest changes you'd like to see, and I'll make a clean SVG.

[2018-06-29 04:38] sjthursby commented on #43
Quick sketches also on [this google doc](https://docs.google.com/presentation/d/1qGfgqa1aIIpEo21vzk8veNa-V2OCYpqBAqRNX9drbyE/edit?usp=sharing) - numbered by style. Clean SVG available on request.

[2018-06-29 14:32] Nazeeefa commented on #43
It may be better to keep logo black and white so it's easy to recognise/read/print. I had a look at google docs, really nice ideas! How about we combine these ideas? For example, use UC Sans but replace B with a B made up of binary numbers (and, if it looks good, replace stem/height of B with DNA helix). Just some suggestions I thought to share :)

[2018-06-29 16:30] peterjc commented on #43
Some interesting ideas from @mccalluc, although I didn't like the O as a halo (first image, top left), the simple text based ones have a elegance to them.

I like the O as a globe idea from @sjthursby - although I agree we need to keep greyscale or even black and white in mind too.

[2018-06-29 16:32] nlharris commented on #43
Thanks for working on this! I will take a look and give more specific comments, but regarding color, I would like to have a color logo that also looks good in greyscale. I think that's what Peter was saying as well.

[2018-06-29 16:36] sjthursby commented on #43
I can modify the binary globe into greyscale and add a dna helix to the B in UC Sans - will provide an update when completed

[2018-06-29 17:35] hlapp commented on #43
I like the "open"-iconography in \#8. The world lock logo series looks nice, but the lock is hard to recognize, let alone that it's open (is it?).

Perhaps it's worth enumerating our major values, so that at least some of them would be embodied in the logo somehow:

* Openness. Specifically, open source, open science.
* Transparency. Our organizational records as well as major decisions are public

[2018-07-01 03:51] hlapp commented on #17
I think this is addressed in the current status of #44.

[2018-07-01 03:54] hlapp commented on #14
The current version of the policy at #44 maintains the _Candidate OBF Project_ status. I feel this is necessary for actually having a process, one of the major goals of the policy to start with.

[2018-07-01 04:00] hlapp commented on #23
Is this better now in #44? I think the main difference is that _Core OBF Project_ is primarily for grandfathering the Bio* projects.

It is debatable whether there is any value in having a separate category for the Bio* projects and other projects like them (large community, very widely used, been around for many years). Opinions one way or another welcome.

[2018-07-01 04:03] hlapp commented on #22
Fixed in 6b4907e506cadeca0f66f38f7399318b0f1b48a2

[2018-07-01 04:03] #22 closed

[2018-07-01 04:05] hlapp commented on #21
I'm not sure it's a good idea for the policy to pin down the minutiae of the mechanics of vote casting. I think this benefits from some flexibility built in and left to the group preparing the ballots etc.

[2018-07-01 04:08] hlapp commented on #20
I agree but I am skeptical that it's a good idea to place spelling this out within the scope of the policy, rather than a separate document that proposes an (initial, or subsequently improved) implementation.

[2018-07-01 04:09] hlapp commented on #19
I don't think the policy has to specify the frequency. Personally, I think once a year is a good frequency to start with. I also think changing that frequency if and when experience suggests so shouldn't require changing the governing policy.

[2018-07-01 04:12] hlapp commented on #16
Each of the statuses can be lost, such as by a project becoming inactive. I think the head revision at #44 says this clearly enough?

[2018-07-01 04:13] hlapp commented on #18
Fixed in 6b4907e506cadeca0f66f38f7399318b0f1b48a2

[2018-07-01 04:13] #18 closed

[2018-07-01 05:54] yochannah commented on #14
I'm inclined to agree with this - "candidate" is essentially a label for a project which has made itself aware to the board as interested in joining, that hasn't been rejected out of hand for some reason. It is meaningful and useful.

[2018-07-01 06:00] yochannah commented on #23
I feel that member project and candidate project affiliation statuses are meaningful, but I'm not sure that having core vs affiliated is terribly necessary - e.g. you're simply either a member or not a member. This seems clearer to me but I do not feel strongly about this.

[2018-07-01 23:02] #17 closed

[2018-07-02 03:36] yochannah commented on #38
I doubt we'll ever be over loaded with too many projects wanting to be affiliated, although that might be a great problem to have! Given this, I don't strongly feel that we need to have an explicit limit or process to force a limited number of projects, but we could re-review it if there ever seems to be too many projects.

We've also recently added details on how [inactive projects might become a

[2018-07-02 08:37] lafita commented on #43
I thought about creating a recognizable logo that can be used for icons and thumbnails and then a more normal full text logo on the side.
I would appreciate any suggestions!

![obf_logo](https://user-images.githubusercontent.com/11161522/42153433-fe2bcc4e-7dda-11e8-811a-207b55acc96f.png)

[2018-07-02 18:33] lafita commented on #43
Thanks @hlapp! Originally I thought about tracing a double strand resembling DNA like [this](https://user-images.githubusercontent.com/11161522/42180011-8f95df1a-7e2d-11e8-92b5-00065e84c165.png), but I liked the single line better.
It is true that the logo becomes more abstract, so I am not sure which one is better...

[2018-07-02 18:38] nlharris commented on #43
@lafita I think the double strand is better. I didn't even get the allusion to DNA from the single line--I thought it was purely decorative.
I also agree with Hilmar that the arm of the lock should point to the left to make it more obviously open.
Thanks for working on this, I like your ideas!

[2018-07-02 18:50] cjfields commented on #43
Great work everyone!  @lafita I agree w/ Hilmar and Nomi on the lock and using double-stranded lines.

[2018-07-02 19:01] gedankenstuecke commented on #43
I think the double lines are better too. But I disagree on the position of the opened lock. That would make it look it more unbalanced as the centering wouldn’t work as nicely.

Maybe the gap of the open-position could just be increased a bit to make it clearer?

[2018-07-02 19:10] cjfields commented on #43
@gedankenstuecke true, I wondered about that.  Maybe make it a square and file in the edges with something?  My Adobe Illustrator-based version (okay, it's really on a post-it):

![img_3454](https://user-images.githubusercontent.com/49265/42181681-4bae25cc-7e01-11e8-8e57-e356e513cbb9.jpg)

[2018-07-02 19:15] gedankenstuecke commented on #43
I think along with the square and the doubled lines things might come out rather busy? But I'm at the airport on my phone right now, so I can't scribble things up to see how it would come out. :)

[2018-07-02 19:16] cjfields commented on #43
@gedankenstuecke yes, true.  Safe travels!

[2018-07-02 21:07] lafita commented on #43
Thanks for the suggestions! I tilted slightly the arm lock so that it is clear that it is open, and that way the icon maintains the symmetry.

![obf_logo_v2](https://user-images.githubusercontent.com/11161522/42186341-32cfda08-7e44-11e8-8c33-aa34f5988e05.png)

[2018-07-02 21:13] nlharris commented on #43
Nice! That makes it clearer that the lock is open without taking up too much horizontal space.

One thing I'd like to see is if the logos that spell out the word Open Bioinformatics Foundation could somehow make the initial O, B and F bigger or something to make the OBF acronym more obvious. (I'm not sure how to do that in an attractive way, though.)

[2018-07-02 21:15] yochannah commented on #43
Would alternate versions work? For small / square area just have obf, for
large / rectangle spaces use the fully spelled out logo...

On Mon, 2 Jul 2018, 22:13 Nomi Harris, <notifications@github.com> wrote:

[2018-07-02 21:24] gedankenstuecke commented on #43
That one is fantastic, my favorite so far @lafita!

[2018-07-02 21:40] hlapp commented on #43
Yes, the latest revision is pretty good, @lafita!

I'm not sure that would make for a good aesthetic. And I don't see that very often either.

Also agree with @yochannah, there'd be separate versions to accommodate different space constraints (square, circular, banner, etc).

[2018-07-03 00:35] cjfields commented on #43
My fav as well @lafita !

[2018-07-03 08:35] Nazeeefa commented on #43
Looks great! Thanks @lafita! I agree with @nlharris , I think it's important to make acronym a bit prominent.

I was just wondering would it be too much text to print out as a sticker (for e.g. laptop?) it would be nice to have a small version with OBF (as suggested by @yochannah) or, if possible, place text within the circle with two words at the top 'Open Bioinformatics' and 'Foundation' at the

[2018-07-03 16:03] hlapp commented on #43
Sticker 💯

[2018-07-03 22:01] lafita commented on #43
This is all I could think about for the OBF acronym.
![obf_logo_text_green_square](https://user-images.githubusercontent.com/11161522/42246520-d20f1b12-7f14-11e8-9abb-b55ed1a6f9c5.png)

And this one could also make for a nice sticker!
![obf_logo_text_green](https://user-images.githubusercontent.com/11161522/42246549-eb5a85e8-7f14-11e8-95ef-d5351f2c032a.png)

[2018-07-03 22:05] peterjc commented on #43
The two wiggling lines around the open padlock remind me a little of the DNA double helix, or since one is thick and one thin, perhaps this is RNA and DNA? Is this intentional? Is it possible to make symbolism more obvious without loosing the clean look? e.g. ribbon like lines which change in thickness as though rotating?

[2018-07-05 15:39] lafita commented on #43
Thanks @peterjc! Yes, the lines represent a DNA double helix, and one is thiner so that it is more clear that it is a double helix (aesthetics).

I do not really have the skills to do more complicated things (I am using Inkscape), so maybe I can do a pull request with the SVG files and anyone who wants to work on alternative versions can try them starting from this version.

[2018-07-07 22:20] hlapp commented on #43
@lafita that'd be great of you can open up a pull request with the SVG versions (and feel free to include  the PNG too)!

[2018-07-07 22:43] hlapp commented on #6
One of the reasons this has been sitting for a long time is that it's ambiguously described, and at least as written not supported by the bylaws. Specifically, it's not clear what marks a member as "inactive". and there is no stipulation anywhere in the bylaws that requires members to be "active" in some specified way to maintain their membership.

What is supported by the bylaws is that members m

[2018-07-07 23:19] hlapp opened #45 "Change application process for project affiliation status to use a Github issue tracker"
In the current draft, the Affiliate Project FAQ requests applications to be sent by email to a to-be-established email address. We want to change this to using an issue tracker on a to-be-designated OBFrepo, which allows for more transparency, easier community comments, and leaves publicly archived thread.

@yochannah feel free to make this change when you have a chance.

This should arguably be a

[2018-07-10 14:31] lpantano commented on #43
I really like that idea! awesome!

Is the color decided to be green? or can we have some more example to see how other colors look like?

[2018-07-10 14:40] cjfields commented on #43
+1 to what @lpantano said.  Maybe a range of different (web-friendly?) colors?

[2018-07-10 16:07] yochannah commented on #43
@lafita @sjthursby @mccalluc - thanks for all the work you've put in so far!

The plan for going forwards is a follows: We'll be running a poll in a Google Form and asking community members from the OBF to vote on their preferred logo.

@lafita @sjthursby @mccalluc  - can you each share a large-ish png of your preferred logo(s) (please not more than one or two) in response to this comment so I can

[2018-07-11 11:34] kcranston commented on #43
Chiming in late here (another OBF board member). Thanks for all of the creativity! I like the @lafita logo a lot. Not sure it needs more detail in the alternating lines - would make it too complicated to be recognized from afar, or to be use in small size (i.e. favicon). I'd like to see some other colours, though.

Also like the globe-with-lock idea from @sjthursby and would like to see some itera

[2018-07-11 14:19] hlapp commented on #45
Addressed by #47, which is now part of #44.

[2018-07-11 14:19] #45 closed

[2018-07-11 15:33] hlapp commented on #20
There's now a description about [how to initiate an application](https://github.com/OBF/obf-docs/blob/affiliated-projects-policy/Affiliated-project-FAQ.md#q-how-do-i-apply-for-obf-affiliated-project-status) in the corresponding FAQ. Does this suffice to address the issue/question?

[2018-07-11 17:35] gedankenstuecke commented on #23
I agree with @yochannah on this, the `project` and `candidate` status difference makes sense, the core/affiliated should be obsolete at least on the long run.

[2018-07-12 21:37] hlapp commented on #40
The blog post requirement is now clarified (#48). Logistics might include reimbursement instructions, but I'm not sure that's stable enough and also free of information not meant for public Google'able consumption. So maybe this is it?

[2018-07-12 22:22] nlharris commented on #40
I think this has been sufficiently addressed by the changes we just made in #48, and this issue can be closed.

[2018-07-13 14:14] hlapp commented on #40
Closing - can always be reopened if others disagree.

[2018-07-13 14:14] #40 closed

[2018-07-13 22:03] lafita commented on #43
The colors of the logo can of course be changed, it should be easy to do! I chose green because it looks more biological, but I could try any other color.

@yochannah are the three latest pictures from my last two comments I posted in this issue of enough quality for the poll? Thanks for organizing this!

[2018-07-13 23:13] mccalluc commented on #43
@yochannah: lafita's look great to me! but if you want to run a poll, here are two of the plain text options:
<img width="490" alt="screen shot 2018-07-13 at 7 10 42 pm" src="https://user-images.githubusercontent.com/730388/42717647-84ae6d5a-86d0-11e8-965c-e75a54cd61bc.png">
<img width="370" alt="screen shot 2018-07-13 at 7 12 04 pm" src="https://user-images.githubusercontent.com/730388/42717685-b

[2018-07-16 21:05] yochannah commented on #43
ok, those two look suitable for the poll. @sjthursby of the items in your doc, which would you like to put forward?

[2018-07-17 13:08] sjthursby commented on #43
My apologies for the delay, please see below for my two.
![obf1](https://user-images.githubusercontent.com/40586596/42819237-e07d9fbe-89ca-11e8-8090-6a9e8e69a3ed.png)
![obf2](https://user-images.githubusercontent.com/40586596/42819246-e71c9014-89ca-11e8-8c4f-a2d62cd80216.png)

[2018-07-17 15:13] sjthursby commented on #43
@hlapp Thank you! If selected (and if desired), I could make a gif with the globe rotating in the binary style with a static lock static the website? I have a Europe-centric version of the globe also, which can be used if a globe design is selected. Please find below the requested alterations:

![obf1v2](https://user-images.githubusercontent.com/40586596/42826330-0feae4f8-89dc-11e8-8f33-629151c166

[2018-07-17 22:00] gedankenstuecke commented on #43
Maybe it makes sense to just vote between the 3 different styles and leave some room for final improvements after the vote (e.g. changing colours, centering the globe, etc.)?

That way we don't split the vote for options 1 & 2 and @sjthursby, @mccalluc and @lafita don't have to provide all possible versions right now.

[2018-07-17 22:02] yochannah commented on #43
That definitely sounds easier!

On Tue, 17 Jul 2018, 23:00 Bastian Greshake Tzovaras, <
notifications@github.com> wrote:

[2018-07-17 22:03] gedankenstuecke commented on #43
Also a bit fairer. 😊

[2018-07-17 22:03] hlapp commented on #43
I agree, 1a and 1b are variants of the same logo concept, as are 2a and 2b.

@yochannah I think for Option 3, the counterpart to the square variation needs to be [the one here](#issuecomment-401936587).

[2018-07-17 22:06] sjthursby commented on #43
Could you just put 1a in the vote for me please? Thank you!

[2018-07-22 13:33] yochannah commented on #43
Better? If yes, I'll finalise the poll.
![image](https://user-images.githubusercontent.com/9271438/43046084-21043da0-8dbc-11e8-8090-ef442ffa89ad.png)

[2018-08-03 11:06] kcranston commented on #27
[This commit](https://github.com/OBF/obf-docs/commit/4d0ee866df61679f2be80155e71fa527f8d0686d#diff-ce8ffb05c352ae3427a9d37fbd15dfc8R27) added 'OBF members' to the list of potential reviewers.

I think listing the reviewers is something we should do in the blog post where we announce the awardees, but not sure we need to commit to doing that in the fellowship docs. Open to other opinions, though.

[2018-08-03 11:07] yochannah commented on #27
+1 agree - list reviewers good, don't have to codify in the docs.

[2018-08-15 15:49] peterjc commented on #27
Excellent, since that has been changed (as part of #41), I think we can close this issue.

[2018-08-15 15:49] #27 closed

[2018-08-28 20:34] yochannah commented on #43
So, we closed the poll yesterday and the results are in!! 🎉

We had 89 responses, and just over 49% of the votes went to option 3, the logo by @lafita is the winner! Well done @lafita!

Huge thanks to @sjthursby and @mccalluc for your fantastic contributions as well; we value the time and effort you put in to this.

![New OBF logo](https://user-images.githubusercontent.com/11161522/42186341-32cfda

[2018-08-28 20:37] yochannah commented on #43
@lafita when you are able, could you please PR the logo files to /logos in this repo? Thank you!!

[2018-08-30 15:28] cjfields commented on #43
@lafita to add to this: if you have a vectorized version (SVG, EPS, maybe PDF) it's also quite useful, we can update site logos, fonts, etc.  Let me know if you need some help on this.

[2019-02-14 21:50] yochannah opened #53 "SVG+Text logos not necessarily rendering correctly"
Compare the svg (top) to png (bottom) as rendered on my machine - we need to convert the svg text to curves to make sure it renders consistently.

<img width="615" alt="image" src="https://user-images.githubusercontent.com/9271438/52819881-65aa3700-30a2-11e9-8ae3-21c59bdd6b07.png">
<img width="615" alt="image" src="https://user-images.githubusercontent.com/9271438/52819900-7490e980-30a2-11e9-9d1c-

[2019-02-15 00:11] hlapp commented on #53
Could it be that you don’t have the necessary font installed?

[2019-02-15 07:09] yochannah commented on #53
Possibly! We shouldn't rely on people having that font for it to render
correctly, though - text converted to a vector shape will render fine no
matter what fonts a machine has.

On Fri, 15 Feb 2019, 00:11 Hilmar Lapp <notifications@github.com wrote:

[2019-03-22 07:25] rakesh4osdd opened #54 "Deadline date is not updated in form URL"
The form deadline is still "NEXT DEADLINE: April 15, 2018" in 2019.
Please update date in the form with time.

https://docs.google.com/forms/d/e/1FAIpQLScCYMt_Id9FSKzHtOxyBgiOIXa61CLiveqh5JLx5rQsFoW8fA/viewform

PFA
![image](https://user-images.githubusercontent.com/6747435/54806927-9254fe00-4ca1-11e9-8870-57de2e776d52.png)

[2019-03-22 14:16] hlapp commented on #54
Thanks @rakesh4osdd for reporting it, and apologies for the oversight. It's fixed now.

[2019-03-22 14:16] #54 closed

[2019-07-26 14:55] hlapp opened #56 "Reconcile / revise application process for Affiliate and Candidate projects"
There is currently a template for Affiliate OBF Project application mentioned in the policy FAQ, but the main policy document still contains a link to the same template, for Candidate OBF Project applications.

- [x] ~Need to move both into the FAQ document.~ - n/a not required
- [x] Need to decide whether we need one or two templates. (One only)
- [x] Make corresponding changes to FAQ document.
-

[2019-07-26 14:56] hlapp commented on #56
@yochannah (and/or @HLWiencko) your thoughts?

[2019-07-27 12:43] hlapp commented on #14
I believe this is now addressed with the change in #55. If anyone disagrees, please comment what is missing and reopen the issue.

[2019-07-27 12:43] #14 closed

[2019-07-27 12:51] yochannah commented on #56
So, I suggest one template - for candidate projects. Candidate projects should be discussed by default at public board meetings and voted upon if they've had the requisite one year candidate status when the board meeting occurs. I doubt anything different would be needed in the candidate->affiliate status apart from time elapsed.

[2019-07-27 12:57] hlapp commented on #23
It seems to me that this first started, and later converged again on the question what distinguishes Core from Affiliated OBF Projects. Given that the Core OBF Project tier has now been eliminated (see #55), this question should now be moot.

There is also, spawned from the initial question, some discussion here as to what benefits OBF member projects (as an Affiliated, and possibly even as Candid

[2019-07-27 13:04] hlapp commented on #16
The change in #57 adds the grandfathering clause. Note that this uses a narrower definition of "original OBF member projects", based more or less of off the projects [listed on the OBF wiki as of July 2019](https://www.open-bio.org/w/index.php?title=Projects&oldid=5228) as "Main Projects".

@peterjc note that this does _not_ include BioCORBA and BioLib, but does include DAS (a.k.a. BioDAS).

I bel

[2019-07-27 13:04] #16 closed

[2019-07-27 13:12] hlapp opened #58 "Document the benefits and responsibilities of Affiliated and Candidate OBF Projects"
The policy should be explicit about the benefits and responsibilities.

Specifically, does this include fiscal sponsorship and asset ownership? I think it should, and that is what the CWL community is seeking.

Examples of services offered by similar organizations:

NumFocus: (just fiscal sponsorship, or full project ownership: donations via check, PayPal, Dwolla and Bitcoin; employment or hiring

[2019-07-27 13:13] hlapp commented on #58
Would OBF be willing to pass through some of the services it is eligible for from SPI?

_Originally posted by @mr-c in https://github.com/OBF/obf-docs/issues/23#issuecomment-248924439_

[2019-07-27 13:15] hlapp commented on #58
So just to be clear, OBF is not currently a fiscal sponsorship organization. We have discussed in the past the possibility of becoming our own 501(c)3 to act as one, but so far we have deliberately chosen not to. We very well recognize that there is a need for a fiscal sponsorship organization in the bioinformatics space. However, at this point it's not clear what particular needs in this regard a

[2019-07-27 13:19] hlapp commented on #23
I've now moved the parts of the thread that are about documenting services available (in particular those  relating to fiscsal sponsorship) into its own issue (#58). I believe with that we can close this issue. Comment and reopen the issue if you feel differently.

[2019-07-27 13:19] #23 closed

[2019-07-27 13:21] yochannah commented on #56
#59 addresses this - after looking through the FAQ I don't believe many changes were needed.

[2019-07-27 13:50] hlapp commented on #19
The current draft of the policy says in [_Community voting on project status_](https://github.com/OBF/obf-docs/blob/affiliated-projects-policy/Affiliated-Project-Policy.md#community-voting-on-project-status):

So it is pretty explicit, and it is actually in the policy. It seems we've been OK with this, so I propose to close this issue. Please object if you feel this shouldn't be in the policy at a

[2019-07-27 13:51] yochannah commented on #19
I agree - this is suitable to close. We can re-open if we have further comments.

[2019-07-27 13:51] #19 closed

[2019-07-27 14:30] hlapp commented on #56
Looks like this is now addressed in full with #59.

[2019-07-27 14:30] #56 closed

[2019-07-27 14:35] hlapp commented on #21
I believe we have come to agreement that the exact _process_ of how the voting is conducted should not be part of the policy, because that makes it easier to adapt the process to what works best. (Changing process should not require more than Board approval, whereas changing policy may well require either a formal membership or a public Board vote.)

I am therefore closing this. Please object if y

[2019-07-27 14:35] #21 closed

[2019-07-27 14:45] hlapp commented on #38
I too lean to defer instituting a formal cap on the number of member projects to a future policy change if and when this does become necessary. Until then, any such number seems necessarily arbitrary, at least in the absence of an actual "per-project cost" analysis.

[2019-07-27 14:52] yochannah commented on #20
I think this is sufficient for now, and the ballot process can be handled either by the board or by a nominated sub-committee. Committee (rather than individual) needed because the likelihood is we may be conflicted since many of us are involved with bio* projects.

[2019-07-31 08:51] peterjc opened #61 ""Deprecated Project" or "Inactive Project" status?"
Should there be a "Deprecated Project" or "Inactive Project" status for formerly "Affiliated Projects" which have not been ejected, but simply stopped?

We could grandfather a few, e.g. BioMoby.

The main benefit is a historical record (for both OBF and the project), but possible concrete  benefits might include maintaining any custom project domain names (perhaps with a time limit)?

This would o

[2019-07-31 12:16] hlapp commented on #61
I agree that's worth discussing. I've in fact weighed that in my mind when making the latest changes, but in the end decided to start with simply sticking to the categorization on the wiki.

One way to look at this could be to not take guidance from the current version on the wiki (which was then migrated to the new website), but use the wiki's version history to turn the clock back some amount an

[2019-08-06 15:22] HLWiencko commented on #38
It looks like this sentence doesn't need to be a thing: `Therefore, the group of projects with some status of affiliation with the OBF is expected to always be limited in number.` It's a non-sequitur, and causes confusion?

If we want, we can add a sentence somewhere in the document `There does not need to be a cap on the number of OBF member projects as of the writing of this policy.`

[2019-08-06 15:24] nlharris commented on #38
Good idea. How about this minor variation: "As of the writing of this policy, there is no cap on the number of projects that can become OBF member projects."

[2019-11-12 16:54] yochannah opened #67 "Add an over-arching code of conduct for OBF projects"
Launch blog here - https://www.open-bio.org/2019/11/15/creating-an-obf-wide-code-of-conduct/

Anyone is welcome to comment with constructive ideas, especially regarding some of the questions raised in the blog post. Alternatively, email board [ at ] open-bio [ dot ] org.

[2019-11-17 18:16] yochannah commented on #67
Some great comments on twitter from @kirstiejane:

https://twitter.com/kirstie_j/status/1196122419301421058

[2019-11-17 22:08] michaelmhoffman commented on #67
Thank you for doing this!

Regarding one of the questions asked in the blog post, multiple reporting points is a good idea. I wouldn't worry too much about the corner case where someone has a complaint against the entire board. I would suggest that if someone has a complaint where any subset of board members is involved they could bring it up to any other board member.

[2019-11-18 15:38] yochannah commented on #67
https://twitter.com/gvwilson/status/1196448242889822214?s=19 some great resources from Greg Wilson 😍

[2019-11-20 11:42] peterjc commented on #67
Bio* project mailing list posts:

* https://mailman.open-bio.org/pipermail/biopython/2019-November/016730.html
* https://mailman.open-bio.org/pipermail/biosql-l/2019-November/002824.html
* https://mailman.open-bio.org/pipermail/bioperl-l/2019-November/089422.html
* https://mailman.open-bio.org/pipermail/biojava-l/2019-November/011559.html

[2019-11-20 17:56] heuermh commented on #67
Thanks for opening this issue!  I have a few questions.

____First:____

Will the same Code of Conduct necessarily be appropriate for both software projects and for in-person events?

____Second:____

We've adapted the [Contributor Covenant](https://www.contributor-covenant.org/) in [ADAM](https://github.com/bigdatagenomics/adam) and other [Big Data Genomics](https://github.com/bigdatagenomics) pr

[2019-11-21 10:09] peterjc commented on #67
Answering @heuermh with my understanding as one of the board, but not necessarily the consensus or final policy:

1. We're hoping to have a single CoC for both online and in person, both projects and meetings. As an example, The Carpentries CoC seems to cover this.

2. With an OBF wide CoC, we would expect there to be a single contact (saving the member projects from having to handle this themselv

[2019-12-19 13:49] hinz1 opened #69 "Is EMBOSS abandonware?"
Hi.

I just tried to download EMBOSS. The emboss website links to ftp://emboss.open-bio.org which doesn't seem to exist anymore and the open-bio website links to the emboss website. That's kind of circular. ;)
There doesn't seem to be a working rpm file to be found that doesn't send you into dependency hell. Getting sources isn't easy as explained above. The only thing that still works seems to be

[2019-12-19 16:30] peterjc commented on #69
Let's start with some good news: the latest source code - ftp://emboss.open-bio.org/pub/EMBOSS/ still works and has the EMBOSS 6.6.0 tar-ball which is to my knowledge the latest release:

ftp://emboss.open-bio.org/pub/EMBOSS/EMBOSS-6.6.0.tar.gz

EMBOSS unfortunately failed to make a smooth transition from a funded project with full time staff to a volunteer managed project. In parallel with this,

[2019-12-19 17:39] peterjc commented on #69
Peter Rice replied by email that he is still working on resurrecting a repository and the wiki.

[2019-12-20 08:14] hinz1 commented on #69
That's good news. Thank you very much for your reply. Which mailing list should I join to stay up-to-date?

[2019-12-20 11:56] peterjc commented on #69
This one, although it is very quiet:

https://mailman.open-bio.org/mailman/listinfo/emboss aka
https://lists.open-bio.org/mailman/listinfo/emboss

[2020-01-09 21:22] cjfields opened #70 "Annual travel award report?"
During the Dec. 2019 public board meeting, @peterjc made a suggestion regarding having a general public announcement for dispersement for travel grant awards.  Potential time frame of  April 2020, about four years after the start of awards.

[2020-01-09 21:24] cjfields commented on #70
Sorry @peterjc , assigning you for now 😺

[2020-01-09 21:29] cjfields commented on #70
@HLWiencko also suggested doing a single wrap-up report so it is explicitly clear where the money has gone, and (as the newly elected treasurer) bearing  responsibility for the report writeup.

[2020-01-10 14:54] cjfields opened #72 "Add required reviewer approval for OBF docs"
See:

https://help.github.com/en/github/administering-a-repository/about-required-reviews-for-pull-requests

We should probably think about how we want to do this, as we can also use protected branches in a similar manner to prevent accidental merges.

https://help.github.com/en/github/administering-a-repository/configuring-protected-branches

[2020-01-10 15:14] peterjc commented on #72
+1 on protecting the master branch so it can only be changed via a pull request which has had a review approval (seems a reasonable low bar to prevent accidents).

This would be in addition to the formal board meeting approval needed for minutes or policy changes.

[2020-01-10 16:20] cjfields commented on #72
See #71 for the branch rule in effect; this can be tweaked here:

https://github.com/OBF/obf-docs/settings/branches

[2020-01-10 21:27] hlapp commented on #72
Great, thanks for enabling this. I don't know why we didn't think of doing this earlier.

[2020-01-13 16:10] cjfields commented on #72
Closing this out now it's in place.

[2020-01-13 16:10] #72 closed

[2020-01-23 04:29] hlapp commented on #61
We decided that no such status is needed in the policy, but the policy contains sections on status maintenance and grandfathering that address this.

[2020-01-23 04:29] #61 closed

[2020-01-23 04:32] hlapp commented on #58
Benefits are documented in the accompanying FAQ, expectations in the policy itself.

[2020-01-23 04:32] #58 closed

[2020-01-23 04:37] hlapp commented on #38
We decided to leave the following sentence in the policy: _Therefore, the group of projects with some status of affiliation with the OBF is expected to always be limited in number._

[2020-01-23 04:37] #38 closed

[2020-01-23 04:38] hlapp commented on #20
Deemed sufficiently addressed for now.

[2020-01-23 04:38] #20 closed

[2020-01-23 23:07] cjfields opened #74 "Official OBF Google Account?"
This was an idea related to BOSC planning and mentioned [on the reviewer document](https://drive.google.com/file/d/1G96dvlUytM0CLReBycynP48XWQpVxe95/view?usp=sharing).  Would having an official OBF Google account be beneficial?

In relation to the comment this would help in organization and planning (namely a Google Calendar for BOSC, but this would also be useful for the OBF Board meetings).  We

[2020-01-24 03:31] hlapp commented on #74
It seems you are referring to the [How To Apply For Google For Nonprofits](https://thedigitalnonprofit.com/how-apply-google-nonprofits/) guide? Note that OBF is not a registered non-profit. Our fiscal sponsor, SPI, is. The entity to file this application would have to be SPI, and it can't apply repeatedly for every fiscally sponsored project. So this needs to be coordinated with, agreed to by, and

[2020-01-24 08:39] peterjc commented on #74
If this is specific to wanting public Google Calendar(s), does a standard free Google account not suffice?

For BCC2020 such a calendar and account would probably need to be shared between BOSC and Galaxy (at least temporarily).

[2020-01-24 13:49] gedankenstuecke commented on #74
Yes, I think the biggest benefit of a GSuite for OBF would be the possibility of creating Google Meets for hangouts/board meetings, allowing for dial-in connections.

[2020-01-28 04:30] cjfields commented on #74
@peterjc that would work with the exception of the occasional need for dial-in teleconf as @gedankenstuecke points out (and we can work around); I think we can also use a non-Google domain.  We could simply set up a standard free account and save the password in our standard location :)

[2020-01-28 12:52] peterjc commented on #74
We have a standard free account already for BOSC (used for the You Tube uploads), and a few private Google Groups. Would it be better to have a separate Google account for the OBF and/or BOSC calendars? i.e. Keep the YouTube and Calendar usage separate from a security point of view.

Or, do we try for the full suite option with the paperwork associated with getting that...

[2020-08-11 18:43] malvikasharan opened #80 "Vote on name change: OBF Travel fellowship -> OBF Event Fellowship"
# Summary

* With the ongoing pandemic, the scope of our travel fellowship has expanded to support virtual events so the name doesn't fit anymore. At the board meeting, we talked about changing the name to reflect the scope.

## What is this PR for?

- OBF members need to approve the name change of the travel fellowship to Event fellowship

## How to do it?

- Thumbs-up emoji to add your +1
- If y

[2020-09-28 18:06] yochannah commented on #53
I've added the hacktoberfest label to this issue - see the /logos folder in this repo to find the relevant files. I think what we need to do is create versions of the file that have the text converted to curves in the correct font, _as well as_ keeping the existing files (for editing purposes).

[2020-09-28 18:14] yochannah opened #81 "[design task] add social preview image"
Social preview images allow a nice image to show when the github repos and issues are shared, e.g. on twitter.  see https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/customizing-your-repositorys-social-media-preview for more info about sizes - 1280*640px is best. Use the OBF logos in the /logos folder on this repo as a basis, but other than that, feel free to be cre

[2020-09-28 18:19] yochannah opened #82 "[design task] create twitter header image"
Use the logos in this repo's /logo directory for inspiration and make sure to size it correctly, but other than that, let your creativity run free. See https://blog.snappa.com/twitter-header-size/ for header size info.

Comment on this issue if you're interested in picking this up. You may also be interested in #81 at the same time / in the same theme (but make sure to make two PRs for full hackto

[2020-09-28 18:31] Manoj13-coder commented on #81
Assign it to me i will make perfect logo

[2020-09-28 18:32] Manoj13-coder commented on #82
Assign this one to me

[2020-09-28 19:06] yochannah commented on #81
Hey @Manoj13-coder - amazing, thanks! Please make sure to base this on the existing OBF logo 😇

[2020-09-30 11:28] peterjc opened #83 "Affiliated project policy on main website"
https://www.open-bio.org/projects/ needs a brief header about adding projects, linking to https://github.com/OBF/obf-docs/blob/master/Affiliated-project-FAQ.md and https://github.com/OBF/obf-docs/blob/master/Affiliated-Project-Policy.md

[2021-01-28 14:17] Arnab11917676 commented on #83
Hello Peter,
I want to work on this issue regarding linking the main website with the subsidiary links on Github by adding a brief header in it.

[2021-01-28 14:57] yochannah commented on #83
Hey @Arnab11917676 - thanks for the offer! in this case I think it needs to be handled by someone who has permissions to update the site via wordpress (Rather than via github) - thanks for the offer though! 🙌

[2021-05-11 17:07] peterjc opened #86 "OBF Community Support Sponsorship - Comments/Feedback"
Blog post https://www.open-bio.org/2021/05/11/obf-community-support-sponsorship outlines a potential new grant programme, subject to approval by the OBF membership in a formal vote, which the OBF board would hope to launch this year.

This GitHub issue is to provide a public forum for community comments and feedback, especially from our membership.

You are also invited to email the OBF board dire

[2021-05-13 07:45] peterjc commented on #67
We have published a blog post about the draft CoC (see #78), requesting comments by 4 June 2021:

https://www.open-bio.org/2021/05/12/request-for-comments-on-coc-draft/

[2021-06-09 22:49] brianrepko commented on #86
Read through based on post on Slack. Very much in favor.

[2021-06-10 08:36] malvikasharan commented on #86
Thank you @brianrepko! Really appreciate you commenting on this. 🙌

[2021-06-10 08:57] mr-c commented on #86
Looks good to me as well. Somehow I missed the original announcement, so I've subscribed to the news feed http://news.open-bio.org/feed/ (Was there a tweet? )

[2021-06-10 11:22] malvikasharan commented on #86
Thank you @mr-c.

[2021-06-10 12:20] mr-c commented on #86
There's an icon on the bottom of the blog post:
![image](https://user-images.githubusercontent.com/1330696/121523864-fb49fd00-c9f6-11eb-8a06-ad49dfe0b3d0.png)

Looks like it is part of the footer for every page.

[2021-06-12 17:15] EstherPlomp commented on #86
Looks great!

The only thing that isn't clear to me was the following sentence:
"This mechanism will require the event organisers to have some sort of bank account or fiscal sponsor (e.g. a university staff member’s budget, a local hackerspace) where we can transfer the funds."

Does that include individual's bank accounts or would they have to go through an institute? Maybe that can be specified

[2021-06-12 17:23] peterjc commented on #86
@EstherPlomp I was thinking _not_ an individual's personal account, but you're right this could be more explicit.

[2021-06-18 16:16] kipkurui commented on #86
The Community Support Sponsorship is a welcome initiative that will reach underrepresented communities, and will ultimately increase OBF diversity. The document looks great!

[2021-10-27 15:57] #7 closed, assigned to nobody

[2021-12-26 22:44] nlharris commented on #83
@hzahroh perhaps this is something you could tackle.

[2021-12-26 22:45] nlharris commented on #80
This has been done

[2021-12-26 22:45] #80 closed

[2021-12-29 16:48] hzahroh commented on #83
Sure, let me try @nlharris

[2022-01-07 15:13] sbliven commented on #86
I'm reviewing this again for voting. I assume that the Code of Conduct requirement depends on #78 being accepted?

[2022-01-07 22:13] hlapp commented on #86
@sbliven I assume you mean how does the CoC requirement depend on OBF's adoption of a CoC? Good question! As stated, the requirement is for the community event or activity in question to have a CoC policy. This is independent of OBF also having adopted a CoC or not. If and when OBF does have adopted a CoC, the question is would the CoC of the community event or activity have to be compatible with

[2022-01-18 18:20] #67 closed

[2022-02-02 10:33] kipkurui opened #88 "Event fund review and details"
The Event Fund hasn't been getting quality applications, maybe because we haven't reached those who need this application, or maybe we reached, but they haven't written this kind of application and would require support. To understand this, we would like to:
- [ ] Review the Event fund documents
- [ ] Review previous applications to understand the needs
- [ ] Update the vent fund documents with th

[2022-02-02 10:37] peterjc commented on #88
i.e. the award to individuals which we now call the "Open Bioinformatics Foundation Event Fellowships", but was originally described as a travel fellowship:

https://github.com/OBF/obf-docs/blob/master/Travel_fellowships.md

[2022-02-07 17:52] malvikasharan commented on #88
Related announcements from the Open Bioinformatics Foundation - Event Fellowship programme: :mega:
* :tada: Please join me in welcoming [@Caleb](https://openlifesci.slack.com/team/U015X18QLPQ) and [@Hilyatuz Zahroh](https://openlifesci.slack.com/team/U019PHT6T96) as the co-chairs of the OBF Event Fellowship Programme. Please read what we plan to work on in coming months: https://www.open-bio.org/2

[2022-02-08 21:35] malvikasharan opened #91 "Do we still need clause that states that pre-existing OBF projects were granted affiliated status?"
Moving discussion from #90

The [Affiliated Project Policy](https://github.com/OBF/obf-docs/blob/event-fellowship-rubric/Affiliated-Project-Policy.md) has a clause stating that pre-existing OBF projects were granted affiliated status, *followed by one allowing other projects to be grandfathered*. This issue is to discuss if we still need *that second clause*:

Specific comment by @peterjc:

[2022-02-08 23:01] peterjc commented on #91
Thanks Malvika, I agree this deserves its own issue.

[2022-02-09 00:26] hlapp commented on #91
Well, at this point _all_ OBF Affiliated Projects have that status because of legacy. But maybe I'm not understanding the question or issue?

[2022-02-09 08:45] peterjc commented on #91
This was the paragraph I was questioning:

[2022-03-16 02:45] hzahroh commented on #83
@peterjc @nlharris I added "adding projects" as a submenu, also added FAQ and descriptions there. Please check whether this is what you had in mind.
<img width="1792" alt="Screenshot 2022-03-16 at 09 42 07" src="https://user-images.githubusercontent.com/70099457/158506233-7b31546e-1095-4acb-bf20-bfcdeea76356.png">

[2022-03-16 05:08] nlharris commented on #83
nice! thanks so much!!

[2022-03-16 05:08] #83 closed

[2022-03-23 17:45] Hrittik20 commented on #53
Hi @yochannah, I would like to help with this issue. We only need to convert the svg (top) to curve/outline, right?

[2022-03-24 07:52] Hrittik20 commented on #53
I have created a pull request to add the new curve file. You can check it out and let me know if I need to change or add anything more.

[2022-06-20 22:37] malvikasharan opened #95 "OBF Event Fellowship Round: 15 July"
**OBF Event Fellowship Round:**

- [ ] Round-1: 1 April
- [ ] Round-2: 15 July
- [ ] Round-3: 1 October
- [ ] Round-4: 15 January

**Before opening the call for application (minimum 6 weeks in advance)**

*7-8 weeks before the deadline:*
- [ ] Update the application form with the correct date and application round-specific information (such as BOSC participation)
- [ ] Create a blog post for the a

[2022-06-20 22:49] nlharris commented on #95
This checklist is great! However, I'm not sure why July 15 was added -- it won't help with BOSC (which is July 13-14 this year; it's always some time in July). Please see my comments on https://github.com/OBF/obf-docs/pull/94.

[2022-06-21 09:09] malvikasharan commented on #95
Thanks @nlharris. Happy to change the timeline to accommodate BOSC timing. Will bring this to the Board meeting today.

[2022-07-19 16:49] malvikasharan commented on #95
[We have a conclusion](https://github.com/OBF/obf-docs/pull/94#discussion_r902847485), but since I am stepping down, I suggest the remaining chairs to discuss next dates after the usual round in October. Maybe consider if you would like to introduce flexible request for exceptional cases before the late deadline.

[2022-08-12 17:16] nlharris commented on #86
Are there still action items here to be completed before this issue can be closed? If so, what exactly are they?

[2022-08-12 17:30] #91 closed

[2022-08-13 18:10] hlapp commented on #86
I think this is complete.

[2022-08-13 20:42] #86 closed

[2022-09-23 15:37] hlapp opened #101 "Ensure that bylaws allow holding formal Board votes outside of public Board meetings"
The motivation here is for the bylaws not to require that formal Board votes be held and completed during a public Board meeting, because with all formal votes being conducted electronically there's no technical requirement for holding them during the meeting itself, and doing so can (and in the past has) actually create issues

These issues include having to have quorum during the time of the Boa

[2022-10-09 21:32] nlharris commented on #101
So does "ensuring" this involve proposing edits to the bylaws?

[2022-10-10 00:15] hlapp commented on #101
If we conclude that the current version of the bylaws somehow doesn't, then yes. But this doesn't mean to preclude that after a review we conclude that the bylaws at present make no stipulation that formal board votes can only be held during a public Board meeting. (Having said that, a formal Board vote does need to be conducted in public.)

[2022-10-10 05:41] nlharris commented on #101
The current bylaws don't say whether voting has to take place during a public Board meeting or not. The most relevant point relating to this topic is:

It doesn't say whether "turn-out" requires participation in a public Board meeting, but we have not required that in the past for votes (we have not had 10% of members showing up to the meetings).

[2022-10-10 17:20] hlapp commented on #101
Turn-out means number of ballots cast. For the public Board meeting, most decisions are approval votes by the attending Directors (such as approving the minutes from the last Board meeting, and all other motions.)

I think it's clear that we (and the bylaws) want votes of the Board to be public. Public here has meant that anyone can attend the event where such votes are cast, which includes a suff

[2022-10-11 07:46] peterjc commented on #101
If we stick with board members (and attending members) being together in person or virtually for a short meeting style (even just one hour), this is fundamentally difficult to participate in from the other side of the world due to the time zones.

We might consider proxy votes, whereby absent board member A assigns their proxy vote to member B, and assuming member B attends both A and B could coun

[2022-10-11 16:28] hlapp commented on #101
I have to say I'm strongly opposed to allowing proxy votes. It opens the door to abuse and gaming. I believe quite strongly that we're better off finding a solution that facilitates global participation while mandating everyone has their own vote, and achieving this without hindering quorum.

Yes I saw this. I don't think it helps solve a problem (there's nothing in the bylaws currently that says

[2022-10-11 21:05] peterjc commented on #101
I also didn't see proxy votes as a useful change here.

Since @hlapp don't think the ballot clause change in 38b7b1132a8081a9e825d41a5630e66b80ce6279 on #102 is actually helpful (given we have operational freedom to do this as written), we might as well drop that change. i.e. revert it on the pull request.

[2022-10-19 15:58] cjfields opened #104 "Add 2021-Sept Public Meeting minutes"
This was mistakenly merged in and is now reverted, is now on a branch (#92).  I believe we will need to either revert the reversion (:wink) or generate a new pull request to ensure it's included back in.

[2022-10-20 18:57] nlharris commented on #104
Can you do whichever you decide on ASAP, so I can add the link to the meeting agenda? Thanks!

[2022-10-20 19:12] hlapp commented on #104
Based on what I found online there are two ways:

1. Revert the pull request to revert, which will generate a new pull request.
2. Create a new branch, cherry pick the commits that were part of the original (and prematurely merged) pull request, then create a new pull request from that.

Either way, the new pull request needs to then be approved by a quorum, and after the motion passes at the Boar

[2022-10-20 19:20] nlharris commented on #104
Thanks for the research, Hilmar!

I have no opinion about how this is done. Option 1 sounds like it might be more straightforward. Please someone just do whichever is easiest!

[2022-10-20 19:34] cjfields commented on #104
Hi @nlharris @hlapp see #105 , which would effectively add the minutes back once approved.

[2022-10-20 19:36] cjfields commented on #104
Also, @nlharris we could use the link to the original pull request (#92) to this as it has the full list of changes.

[2022-10-20 20:20] hlapp commented on #104
I think we need to use #105 for the minutes. It should in fact have the exact same change set, not sure @cjfields why you think it wouldn't?

[2022-10-20 20:33] cjfields commented on #104
@hlapp I'm fine either way, though much of the discussion re: changes is in the original ticket.

[2022-10-20 21:48] hlapp commented on #104
Good point! That said, I've been assuming that the approval of the minutes will pass with unanimous consent and without discussion. But maybe I'm wrong 🤔😉

[2022-11-18 11:00] kipkurui opened #108 "Update all sites with the new event fellowship deadlines"
Note also that this line on https://www.open-bio.org/event-awards/ needs to be updated:

_Originally posted by @nlharris in https://github.com/OBF/obf-docs/issues/94#issuecomment-1272631670_

[2022-11-28 19:57] #104 closed

[2022-11-28 23:21] nlharris opened #109 "Introductory posts on Mastodon for OpenBio and BOSC"
up to 500 chars each

[2022-11-29 09:12] peterjc commented on #109
Should include the hashtag #introduction (Mastodon convention, explicitly requested on some instances), and assorted others like #bioinformatics and #OpenSource (note camel case, important for screen readers to detect the word boundary). These are the primary search mechanism on Mastodon (free text search is limited).

We may want to refine the profile text too, currently:

* https://genomic.socia